

.tableEjemplo {
    margin-left: 25px;
    margin-top: 30px;    
}

.table2excel td {
    width: 30px;
    height: 30px;
    padding: 3px;    
    text-align: center;
}

.tituloTabla{
    font-family: Helvetica, Arial, sans-serif;
    font-weight:normal;
    font-size:xx-large;
    padding: 15px;
}

.forma{    
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 60px;
}

.forma table {    
    border-collapse: collapse;
    
    width: 80%;
}

.forma th, .forma td{
    border: 1px solid lightgray;
    padding: 8px;
    text-align: center;
}

.adminRango table{
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

.edit:hover {
    background-color: rgb(150, 187, 255);
}
.add:hover {
    background-color: rgb(140, 149, 244);
}
.delete:hover {
    background-color: rgb(38, 30, 80);
    color:darkgrey
}

.edit {
    background-color: rgb(244, 244, 244);
}
.add {
    background-color: rgb(244, 244, 244);
}
.delete {
    background-color: rgb(244, 244, 244);    
}

.clickable{
    cursor:pointer;
    color: rgb(7, 93, 186);
    font-size:larger;
    font-weight: 600;
}

.rangosTitle{
    font-size: larger;
    color: blue;
}

.leyendas{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right:40px;        
}

.leyenda {
   
    margin-left: 5px;
    text-align:center;   
    font-size:x-large; 
    font-weight: 400;
}

.leyenda div {
    width:100px;
}

.agregar{
    font-size: larger;
    color: blue;
    margin-top: 5px;
    cursor: pointer;
    width: fit-content;
    padding: 5px;
}

.agregar:hover{    
    color:rgb(255, 255, 255);
    background-color: blue;
    
}

.papelera{
    margin-bottom: 30px;
    margin-top: 30px;
    width: 200px;
}

.papelera img{
    width: 50px;
}

.fechaCreacion{
    color:gray;
    font-size: large;
}

.colorTexto {
    background-color: #ffffff; /* Cambia por defecto al primer color */
    color: #000000;
}

option::before {
    content: "■"; /* Puedes reemplazar "■" por el carácter Unicode que hayas elegido */
    font-size: 18px; /* Ajusta el tamaño del cuadrado */
    margin-right: 5px;
  }